.idea
.vscode
.venv
.env

forge.yaml
.forge

*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
build
data
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# si
*.mo

# Sphinx
docs/_build
README.html
