version: "3.9"

services:
  base: &base-service
    build: "."
    # depends_on:
    #   - "redis-stack"
    volumes:
      - ".:/code/app"

  # Apps
  api:
    <<: *base-service
    ports:
      - "8000:5000"

    environment:
      APP_MODULE: "app.main:api"
      LOG_LEVEL: "info"

  # Commands
  make-dataset:
    <<: *base-service
    command:
      - "echo 'Hello, World!'"

  # Devices
  redis-stack:
    image: "redis/redis-stack:latest"
    ports:
      - "6379:6379"
      - "8001:8001"
